<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='admin.js') }}" defer></script>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="###" type="image/x-icon">
    <title>Спортивный таймер. Администрирование</title>

</head>
<body>
    <div class="container">
        <div>{{UserName}}</div>

    </div>
</body>
</html>





