<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <title>Спортивный таймер</title>
</head>
<body>
    <video autoplay muted loop id="video-bg">
        <source src="{{ url_for('static', filename='video/video.mp4') }}" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
    
    
    
    

<div class="container">
<div id="competition" class="mainlinks">
    <a href="/competitionList">Администрирование соревнований</a>
</div>
<div id="onlineview" class="mainlinks">
     <a href="/onlinecomplist">Просмотр результатов онлайн</a>
</div>

</div>
<video autoplay muted loop id="video-bg">
    <source src="path/to/your/video.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
</video>

</body>
</html>